*.iml
/local.properties
.idea
.DS_Store
.externalNativeBuild
app/build
/build
.gradle
/openCVLibrary320
/openCVLibrary300
settings.gradle

app/build.gradle
settings.gradle

local.properties

app/build.gradle

settings.gradle

app/build.gradle
