*.iml
/local.properties
.idea
.DS_Store
.externalNativeBuild
.gradle
app/build
/build
local.properties
openCVLibrary*/src/main/java/org/opencv/android/**
!openCVLibrary*/src/main/java/org/opencv/android/CameraBridgeViewBase.java
openCVLibrary*/build
openCVLibrary*/src/main/java/org/opencv/calib3d
openCVLibrary*/src/main/java/org/opencv/core
openCVLibrary*/src/main/java/org/opencv/features2d
openCVLibrary*/src/main/java/org/opencv/imgcodecs
openCVLibrary*/src/main/java/org/opencv/imgproc
openCVLibrary*/src/main/java/org/opencv/ml
openCVLibrary*/src/main/java/org/opencv/objdetect
openCVLibrary*/src/main/java/org/opencv/photo
openCVLibrary*/src/main/java/org/opencv/utils
openCVLibrary*/src/main/java/org/opencv/video
openCVLibrary*/src/main/java/org/opencv/videoio
openCVLibrary*/src/main/aidl/org/opencv/engine/
openCVLibrary*/src/main/res/
openCVLibrary*/*.*
openCVLibrary*/src/main/AndroidManifest.xml